@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

html {
  scroll-behavior: smooth;
  background: #0c244a;
  color: #fff;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}